*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  overflow-x: hidden;
}
main{
  
  background-image: url(img/fondo8.jpg);
  height: 1000px;
 
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

ul{
  color: white;
}
header{
  display: flex;
}
h1{
  color: white;
  font-size: 33px;
  font-family: 'Abhaya Libre';
  z-index: 1;
  position:relative;
  top: 31px; right: 15px;
}
li{
  font-size: 30px;
  font-family: 'Abhaya Libre';
}


section{   
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  height: auto;
}


.invisible{
  display: none;
}

.titleFilm{
  font-weight: bold;
  transform: rotateY(180deg);
  text-align: center;
  backface-visibility: hidden;
}

.target-box {
    flex: 100%;
    height: 40vh;
    position: relative;
    perspective: 1000px;
    margin-bottom: 55%;
    display: flex;
    justify-content: center;
 
  }
  
  .target-box:hover .target {
      transform: rotateY(180deg);
      
  }
  
  .target {
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
    width: 43%;
    margin-top: 26%;
    height: 22vh;
  }
  
  .faceTarget {
    position: absolute;
    backface-visibility: hidden;  
  }
  
  .backTarget {
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-color: #a5d875;
    width:100%;
   
    
  }
  .poster{
    width:100%;
  height:auto;
  position: relative;
  
  }
 
#logo {
  display: flex;
  position: relative;
  left: 27px;
  width: 30vw;
  height: 84px;
}
.window{
  position: absolute;
  width: 88%;
}

#opcions {
  margin:auto;
  width:100px;
  font-family:'Abhaya Libre';
}
ul, ol {
  list-style:none;
}

.opcionSortBy > li {
  float:left;
}

.opcionSortBy li button{
  background-color:#6591A7;
  color:#fff;
  text-decoration:none;
  padding:5px 8px;
  display:block;
  border:0;
}

.opcionSortBy li button:hover {
  background-color:#6eb459;
}

.opcionSortBy li ul {
  display:none;
  position:absolute;
  min-width:50px;
}

.opcionSortBy li:hover > ul {
  display:block;
}

.opcionSortBy li ul li {
  position:relative;
}

.opcionSortBy li ul li ul {
  right:-125px;
  top:0px;
  width:100%;
}
#nav {
  margin:auto;
  width:350px;
  font-family:'Abhaya Libre';
}
.items > li {
  float:left;
}
.items li button {
  background-color:#6591A7;
  color:#fff;
  text-decoration:none;
  padding:5px 8px;
  font-size: 16px;
  display:block;
  border:0;
}
.items li button:hover {
  background-color:#6eb459;
}




@media only screen and (min-width: 768px){
 
  .target-box{
    flex: 20%;
    height: 38vh;
    margin: 9vh;
  }
  #logo {

    left: 420px;
    width: auto;
    height: auto;
    
  }
  h1{
    font-size: 80px;
    top: 150px; right: 60px;
  }
  .backTarget{
    height: 20vw;
  }
  #opcions {
    margin:auto;
    width:500px;
  }
  .opcionSortBy li button{
    padding:10px 12px;
  }
  .opcionSortBy li ul {
    min-width:140px;
  } 
  .opcionSortBy li ul li ul {
    right:-135px;
    top:0px;
    width: 92%;
  }
  #nav {
    margin:auto;
    width:800px;
  }
  .items li button {
    padding:10px 12px;
    font-size: 40px;
  }
  
}