*{
  margin: 0;
  padding: 0;
}


img {
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

main{

  height: 100vh;
  width: 100vw;
  background: url(img/totorro.jfif) no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(15,10%);
  grid-template-rows: repeat(15,1fr);
}
#carrouselFilms{
  grid-column: 1/span 10;
  grid-row: 11/span 7;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
}
#forward{
  grid-column: 10;
  grid-row: 13;
  z-index: 1;
  background: none;
  color: #ffffff;
  font-size: 40px;
  border: none;
  text-shadow: -2px -2px 1px rgb(126, 126, 129);

}
#back{
  grid-column: 1;
  grid-row: 13;
  z-index: 1;
  background: none;
  color: #ffffff;
  font-size: 40px;
  border: none;
  text-shadow: -2px -2px 1px rgb(126, 126, 129);
}
.imgPoster{
  width: 180px;
  height: 280px;
  border-radius: 10px;
  object-fit: cover;
}
input[type=radio]{
  display:none;
}
.btnMain{
  background-color:#6591A7;
  color:#fff;
  text-decoration:none;
  padding:5px 8px;
  font-size: 16px;
  display:block;
  border:0;
}
.btnMain:hover {
  background-color:#6eb459;
}

#btnFilm{
  grid-column: 2/ span 2;
  grid-row: 5;
  width: 120px;
}
#btnCharacter {
  grid-column: 3/ span 2;
  grid-row: 7;
  width: 120px;
}
#btnCompute {
  grid-column: 4/ span 2;
  grid-row: 9;
  width: 120px;
}

#fondo{
  max-width: 100%;
  max-height: 100%;
}
/*#neblina{
  display: grid;
  grid-template-areas: " home .   . "
                      ".  logo ."
                    ".  descripcion . "
                    "nav nav nav"
                    "opciones . .";
  grid-template-rows: 10% 30% 18% 30%;
  grid-template-columns: 20% 60% 20% ;
  background: linear-gradient(180deg, rgba(255, 239, 59, 1) 0%, rgba(29, 151, 215, 0) 100%);
  margin-left: 3%;
  margin-right: 3%;
  height: 50vh;
  
  border-radius: 3%;
  border: 5px #6591A7;
  position: relative;
  top: 3%;
  padding: 5%;
}*/
ul{
  color: white;
}
header{
  grid-column: 7/span 4;
    grid-row: 3/span 4;
  display: flex;
  justify-content: center;
}

#descripcion{
  grid-column: 7/span 4;
  grid-row: 6/span 4;
  color: white;
  font-size: 15px;
  text-shadow: 1px 1px 2px black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}
#homeIcon{
  grid-area: home;
  width: 40%;
}


h1{
  color: white;
  font-size: 33px;
  font-family: 'Open Sans';
}
li{
  font-size: 18px;
  font-family: 'Open Sans';
}


.container{   
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  height: auto;
  margin-top: 120px;
}


.invisible{
  display: none;
}

.titleFilm{
  font-weight: bold;
  transform: rotateY(180deg);
  text-align: center;
  backface-visibility: hidden;
}

.target-box {
  background-image: url('img/tarjetaS.svg');
  background-repeat: no-repeat;
  background-position: center;
    flex: 100%;
    height: 40vh;
    position: relative;
    perspective: 1000px;
    margin-bottom: 55%;
    display: flex;
    justify-content: center;
 
  }
  
  .target-box:hover .target {
      transform: rotateY(180deg);
      
  }
  
  .target {
   
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
    width: 43%;
    margin-top: 26%;
    height: 22vh;
  }
  
  .faceTarget {
    position: absolute;
    backface-visibility: hidden;  
  }
  
  .backTarget {
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-color: #cecece;
    width:100%;
   overflow: scroll;
    
  }
  .poster{
    width:100%;
  height:auto;
  position: relative;
  
  }
 
#logo {

  width: 30vw;
  height: 84px;
}
.window{
  position: absolute;
  width: 47%;
}
#SortFilter{
  display: none;
}
#options {
  margin:auto;
  width:100px;
  font-family:'Open Sans';
  position: relative;
    top: 8vh;
    left: 30vw;
}
#options2 {
  margin:auto;
  width:100px;
  font-family:'Open Sans';
  position: relative;
    top: 8vh;
    left: 36vw;
}
ul, ol {
  list-style:none;
}

.optionBy > li {
  float:left;
}

.optionBy li button{
  background-color:#6591A7;
  color:#fff;
  text-decoration:none;
  padding:5px 8px;
  display:block;
  border:0;
}

.optionBy li button:hover {
  background-color:#6eb459;
}

.optionBy li ul {
  display:none;
  position:absolute;
  min-width:50px;
}

.optionBy li:hover > ul {
  display:block;
}

.optionBy li ul li {
  position:relative;
}

.optionBy li ul li ul {
  right:-90px;
  top:0px;
  width:100%;
}

.btnSpecie{
 
  margin: 15px;
  border: 0;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  padding: 13px;
  background-image:  linear-gradient( blue 30%, pink);
}
#boxSpecies{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  top: 122px;
}

#boxSpecies>h2{
  flex: 100%;
  text-align: center;
}
@media only screen and (min-width: 768px){
 
  .target-box{
    flex: 20%;
    height: 38vh;
    margin: 9vh;
  }

  #logo {
    left: 420px;
    width: auto;
    height: auto;
  }

  h1{
    font-size: 80px;
    top: 150px; right: 60px;
  }
  #descripcion {
    font-size: 25px;
  }
  .backTarget{
    height: 100%;
  }

  #options {
    display: none;
    margin:auto;
    width:500px;
    position: relative;
    top: 723px;
    left: -2vw;
  }
  #options2 {
    margin:auto;
    width:500px;
    position: relative;
    top: 95.5vh;
    left: -6vw;
  }

  .optionBy li button{
    padding:10px 12px;
  }
  .optionBy li ul {
    min-width:140px;
  } 
  .optionBy li ul li ul {
    right:-135px;
    top:0px;
    width: 92%;
  }
  #nav {
    margin:auto;
    width:700px;
  }
  .items li button {
    padding:10px 12px;
    font-size: 40px;
  }
  .btnSpecie{
   
    margin: 15px;
    border: 0;
    border-radius: 50%;
    height: 150px;
    padding: 13px;
    background-color: #6eb459;
  }
  #boxSpecies{
    top: 150px;
  }
  .window {
    width: 56%;
    height: 380px;
}
.target{
  margin-top: 40%;
}
}