*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  overflow-x: hidden;
}
main{
 
  background-image: url(img/mobile.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 50vh;
  background-size: 100vw 50vh;
  /*position: absolute;*/
  
}
#neblina{
  display: grid;
  grid-template-areas: " home .   . "
                      ".  logo ."
                    ".  descripcion . "
                    ".  opciones .";
  grid-template-rows: 10% 30% 20% 40%;
  grid-template-columns: 20% 60% 20% ;
  background: linear-gradient(180deg, rgba(29, 151, 215, 0.79) 0%, rgba(29, 151, 215, 0) 100%);
  margin: 1%;
  height: 50vh;
  
  border-radius: 3%;
  border: 5px #6591A7;
  position: relative;
  top: 1%;
  padding: 5%;
}
ul{
  color: white;
}
header{
  grid-area: logo;
  display: flex;
  justify-content: center;
}

#descripcion{
  grid-area: descripcion;
  
  display: flex;
  justify-content: center;
  align-items: center;

}
#homeIcon{
  grid-area: home;
  width: 44%;
}

#opcions{
  grid-area: opciones;
}

nav{
  grid-area: opciones;
}
h1{
  color: white;
  font-size: 33px;
  font-family: 'Abhaya Libre';
  
  background-image: url(img/logoEsteSi.png);
  
  
}
li{
  font-size: 18px;
  font-family: 'Abhaya Libre';
}


.container{   
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  height: auto;
}


.invisible{
  display: none;
}

.titleFilm{
  font-weight: bold;
  transform: rotateY(180deg);
  text-align: center;
  backface-visibility: hidden;
}

.target-box {
    flex: 100%;
    height: 40vh;
    position: relative;
    perspective: 1000px;
    margin-bottom: 55%;
    display: flex;
    justify-content: center;
 
  }
  
  .target-box:hover .target {
      transform: rotateY(180deg);
      
  }
  
  .target {
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
    width: 43%;
    margin-top: 26%;
    height: 22vh;
  }
  
  .faceTarget {
    position: absolute;
    backface-visibility: hidden;  
  }
  
  .backTarget {
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-color: #cecece;
    width:100%;
   overflow: scroll;
    
  }
  .poster{
    width:100%;
  height:auto;
  position: relative;
  
  }
 
#logo {

  width: 30vw;
  height: 84px;
}
.window{
  position: absolute;
  width: 88%;
}

#opcions {
  margin:auto;
  width:500px;
  font-family:'Abhaya Libre';
  display: flex;
  justify-content: center;
}
ul, ol {
  list-style:none;
}

.opcionSortBy > li {
  float:left;
}

.opcionSortBy li button{
  background-color:#6591A7;
  color:#fff;
  text-decoration:none;
  padding:10px 12px;
  display:block;
  border:0;
}

.opcionSortBy li button:hover {
  background-color:#6eb459;
}

.opcionSortBy li ul {
  display:none;
  position:absolute;
  min-width:140px;
}

.opcionSortBy li:hover > ul {
  display:block;
}

.opcionSortBy li ul li {
  position:relative;
}

.opcionSortBy li ul li ul {
  right:-135px;
  top:0px;
  width: 92%;
  
}
@media only screen and (min-width: 768px){
 
  .target-box{
    flex: 20%;
    height: 38vh;
    margin: 9vh;
  }
  #logo {

    left: 420px;
    width: auto;
    height: auto;
    
  }
  h1{
    font-size: 80px;
    top: 150px; right: 60px;
  }
  .backTarget{
    height: 100%;
  }
  main{
  
    background-image: url(img/fondo9.jpg);
    background-size: 100vw 100vh;
    height: 100vh;

  
  }
}